body {margin:0px;
  }

  h1 {border-bottom: 2px solid gray;
      padding:40px;
      margin:0px;
      text-align:center;
      font-size: 3em;
        background-color: lightblue;
  }
  ol {border-right: 2px solid gray;
      width:150px;
      margin:0px;
      padding:20px;
      padding-left: 50px;
      padding-top: 35px;
      font-size: 1.1em;

  }
  a {text-decoration: none;}

  #grid div{margin-left: 100px;
            padding:20px;
            padding-top: 20px;
            padding-right: 45px;
            }

  #grid {display: grid;
         grid-template-columns: 150px 1fr;
         margin:0px;
         padding:0px;
   }
